.header {
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 2px 0;
}

.dark {
    background-color: black;
}

.btn-dark {
    cursor: pointer;
    font-size: 20px;
}

.title img {
    width: 175px;
    height: auto;
}

.navbar {
    .nav-list {
        display: flex;
        justify-content: space-around;
    }

    .link {
        color: white;
        text-decoration: none;
    }

}