<h2>PROJECTS</h2>

<ul class="project-list">
    <!-- Para renderizar listas se utiliza en bucle "for" que tirará de la información incluida en un array (definido en su .ts o importado de una API). En este caso tira del array "projects": por cada "project" del array "projects" {codigo a ejectutar} (mostrar el componente app-project-card)) -->
    @for (project of projects; track project.id) {
    <li>
        <app-project-card [project]="project"></app-project-card>
        <!-- Utilizamos directamente el componente app-project-card para mostrar todas las propiedades de un objeto ya definidas en html y css de este componente, y no tener que repetirlas en este componente de nuevo
        Para ello necesitamos llamar a la variable creada en el elemento hijo como propiedad del elemento html [variable]="variable" -->
    </li>
    }
</ul>
<!-- Para sacar un listado de items utilizamos el elemento html lista con un bucle "for" sobre un array de objetos definido en el archivo .ts del componente -->