<app-header></app-header>

<br><br><br>
<p>> Person form</p>
<app-person></app-person>


<p>> Ficha de proyecto</p>
<div class="project-card-home">
<app-project-card></app-project-card>
<button>Ver Proyecto</button>
</div>
<br><br><br>

<p>> Lista de proyectos</p>
<label for="show-products">Mostrar lista de Proyectos </label>
<input type="checkbox" name="show-products" id="show-products" [(ngModel)]="showProducts">
@if (showProducts) {
<app-project-list></app-project-list>
}
<!-- Se crea un input checkbox asociado a la variable boolean "showProduct" mediante el "FormsModule", y con un condicional, si esta marcado se mostraran (porque se cumple la condicion true), si no se marca, se ocultan (porque no se cumple)-->

<br><br><br>

<p>> Formulario Login User</p>
<app-user-form></app-user-form>