.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    padding-bottom: 20px;

    a {
        text-decoration: none;
        color: palevioletred;
        font-weight: bold;
        font-size: 12px;
    }

    .project-img {
        max-width: 90%;
        height: auto;
    }

    a:not(.website) {
        display: none;
    }

}